<%-include('../Includes/header.ejs')%>
    <link rel="stylesheet"  type="text/css" href="/CSS/formStyle.css">   
    </head>
    <body>
        
        <%-include('../Includes/navigation.ejs')%>
      <div class="cardDiv3"  >
        <div class="card" style="width: 70%;height:60%;margin-left: 15%;">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-4">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" style="margin-top: 35%;margin-left: 10%;"><img src="/<%=data.p_image%>" alt="image" style="width: 300px;"></div>
						  
						</div>
						
						
					</div>
					<div class="details col-md-5" style="margin-left:10%; margin-top: 3%;">
                        <div class="card-notify-year">2020</div>
						<h3 class="product-title">LapTop Store</h3>
                       
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<div class="details">
                            <h4 class="card-title">Product Title: <%=data.p_title%></h4>
                            <h5 class="card-subtitle mb-2 text-muted">Price: <%=data.p_price%></h5>
                            <h6 class="card-text">Description: <%=data.p_des%></h6>
                        </div>
						
						<p class="vote" style="color: black;"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">s(14-inch)</span>
							<span class="size" data-toggle="tooltip" title="medium">m(16-inch)</span>
							<span class="size" data-toggle="tooltip" title="large">l(17-inch)</span>
							
						</h5>
						<h5>Colors:</h5>
                        <ul class="color">
                        <li class="green"></li>
                        <li class="blue"></li>
                        <li class="red"></li>			
                       <li class="purple"></li>
                       <li class="cyan"></li>
                       
                       </ul>
                       <form action="/addToCart" method="POST">
						<input type="hidden" value="<%=csrf_token%>" name="_csrf">    
						<input type="hidden" name="quantity" value="1">
						<input type="hidden" name="productId" value="<%=data._id%>">
							<button class="add-to-cart btn btn-default" style="color:white;margin-top: 8%;" type="submit">add to cart</button>
							<button class="like btn btn-default" style="margin-top: 3%;"type="button"><span class="fa fa-heart"></span></button>
						
					</form>
					</div>
				</div>
			</div>
		</div>
        </div>
        <%-include('../Includes/footer.ejs')%>        