<%-include('../Includes/header.ejs')%>
    <link rel="stylesheet"  type="text/css" href="/CSS/formStyle.css">   
    </head>
    <body>
        <%-include('../Includes/navigation.ejs')%>
        <div class="editouter">
        <form action="/postEditedValue" method="POST" enctype="multipart/form-data">
          <input type="hidden" value="<%=csrf_token%>" name="_csrf">    
         
             <div class="editinner">
          <h2 >Products</h2>
         
         <label>Product Title:</label>   
         <input type="text" name="edit_title" placeholder="Enter Product name" value="<%=data.p_title%>">
         <br><br>
         <label>Product Price:</label> 
         <input type="text" name="edit_price" placeholder="Enter Product price" value="<%=data.p_price%>">
         <br><br>
         <label>Product Description:</label> 
         <input type="text" name="edit_des" placeholder="Enter Product description" value="<%=data.p_des%>">
          <br><br>
          <label style="color:blue ;">Image</label>
          <input type="file" name="p_image" >
          <br>
          <input type="hidden" name="prod_id" value="<%=data._id%>">
           <div>
            <button type="submit"><p>Submit Edited Data</p></button>
           </div>

          </div>
        </div>
        </form>

       <%-include('../Includes/footer.ejs')%>